#header {
    font-size: x-large;
    padding-top: 5%;
    padding-left: 3%;
    color: darkslategrey;
}

#top-row {
    padding: 0% 3% 2%;
}

#expenses {
    padding: 5% 3% 2%;
}

#budget  {
    font-size: 20px;
    font-weight:500;

    color: white;
}

#remaining-text, #spent {
    font-size: 20px;
    font-weight:500;

    color: darkslategrey;
}

#amount  {
    font-size: 90px;
    font-weight:700;

    color: white;
}

#r-amount, #spent-amount {
    font-size: 80px;
    font-weight: 700;
    color: darkslategrey
}

#remaining {
    padding-top: 30%;
}

#expense-list, #add-form, #add {
    padding: 0% 3% 2%;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgb(70, 198, 166) 0px,
      rgb(71, 201, 166)365px,
      white 365px,
      white 200px
    );
  } 
